.app {
  text-align: center;
  background-color: #141414;
}
.bodyy{
  background-color: #141414;

}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 6rem;
  background-color: #141414;
}
.card{
  width: 200px;
  height: 300px;
  cursor: pointer;
}
.card img{
width: 100%;
height: 200px;
}
.title_play{
  display:flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}